html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background: rgb(24, 33, 65);
  background-attachment: fixed;
}

.col-lg-4 {
  padding: 0 2px;
}

.chart {
  /* TODO Add box shadow to chart cards */
  background-color: rgba(48, 62, 66, 0.55); /* outerspace */
  margin-top: 3px;
  text-align: center;
}

/* Axis tick lines */
.axis path,
.tick line {
  stroke: whitesmoke !important;
}

/* chart ticks */
.tick {
  color: whitesmoke;
}

/* Axis Labels */
.y-axis-label,
.x-axis-label {
  fill: whitesmoke !important;
  font-family: "Share Tech", sans-serif;
}

#nextMissionCard {
  font-family: "Share Tech", sans-serif;
}

/* Add Launch to Calendar Button */
#addeventatc1 {
  z-index: 0;
  text-align: center;
  display: block;
  margin: 10px auto;
  font-family: "Share Tech", sans-serif;
  color: whitesmoke !important;
  background-color: darkblue;
  color: blue;
}

#addeventatc1 .addeventatc_icon {
  background-color: whitesmoke !important;
}

.card-title {
  padding: 4px;
  margin: 4px;
}

/* Launch Success Number Displays */
#numberDisplayLaunchSuccessRate,
#numberDisplayLaunchSuccessTotal {
  color: whitesmoke;
}

#dc-data-table {
  text-align: center;
}

.dc-table-column {
  padding: 0 0 !important;
}

/* Data Table content */
.table td {
  vertical-align: middle;
}

/* Pagination buttons */
#prev,
#next {
  color: whitesmoke;
  font-weight: bold;
}

/* Pagination button container */
#paging {
  text-align: right;
  color: whitesmoke;
}

/* Data table headers */
.dc-table-head {
  font-family: "Share Tech", sans-serif;
}

/* table body font */
.dc-table-row {
  font-family: "Share Tech", sans-serif;
}

.dc-data-count,
.dc-data-count-payloads {
  float: left;
  margin-top: 1px;
  color: whitesmoke;
}

.dc-legend-item text {
  font-size: 15px;
  font-family: "Share Tech", sans-serif;
  fill: whitesmoke !important;
}
/* Launches by Site text */
#chartLaunchesBySiteAndRocket .x.axis text {
  font-size: 10px;
}

/* Launch Success chart text */
.dc-chart g.row text {
  fill: whitesmoke;
}

/* unordered lists  */
ul {
  list-style-type: none;
}

.launch-links li {
  float: left;
  margin: auto 6px;
}
/* Data table link icons */
.link-icon-small {
  height: 26px;
}

/* Data table mission patch images */
.mission-patch-small {
  width: 5vw;
}

/* Modal large mission patch images */
.mission-patch-large {
  width: 60%;
  height: auto;
}

/* Launch success text */
.success {
  border: 1px solid whitesmoke;
  padding: 2px 10px;
  text-align: center;
  color: whitesmoke;
  background-color: green;
}

/* Launch failure text */
.failure {
  border: 1px solid whitesmoke;
  padding: 2px 10px;
  color: whitesmoke;
  background-color: darkred;
  text-align: center;
}

/* launch details */
.details-card {
  background-color: whitesmoke;
  color: black;
  text-align: justify;
}

.card-body {
  font-family: "Share Tech", sans-serif;
  padding: 0.6rem;
  font-size: 16px;
}

/* Modal content */
.modal-content {
  align-items: center;
  background-color: darkslategrey;
}

/* padding around large mission patch in modal */
.modal-content img {
  margin: 25px auto;
}

/* Next launch location map */
#map {
  width: 100%;
  height: 50vh;
}

/* Next launch coundown */
#nextLaunchCountdown table {
  margin: 2px auto;
  text-align: center;
  color: whitesmoke;
  font-size: 22px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

#counter td {
  font-size: 2.5rem;
}

/* Fade in transitions for coundown */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  font-family: "Share Tech", sans-serif;
  color: whitesmoke;
}

h2 {
  font-family: "Share Tech", sans-serif;
  text-align: center;
  font-size: 26px;
  text-align: justify;
  background-color: lightblue;
  margin: 6px auto;
  padding: 6px;
  display: block;
}

/* Chart titles */
h3 {
  text-align: center;
  display: block;
  font-size: 25px;
  margin: 4px auto;
  padding-top: 4px;
  padding-bottom: 0px;
  font-family: "Share Tech", sans-serif;
  color: whitesmoke;
}

/* Navbar title */
.navbar-brand {
  font-family: "Share Tech", sans-serif !important;
  font-size: 28px;
}
/* Navbar  */
.navbar {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

/* heading svg colour */
.filter-navy {
  filter: invert(11%) sepia(76%) saturate(5306%) hue-rotate(211deg)
    brightness(92%) contrast(113%);
}

/* Footer */
footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  color: whitesmoke;
  margin: auto;
  height: fit-content;
  text-align: center;
}

/* Footer list */
#footer-list {
  list-style-type: none;
  padding: 20px 2px;
}

/* Footer list items */
#footer-list li {
  padding: 0 16px;
  vertical-align: middle;
  display: inline-block;
}

* {
  /* outline: 1px solid grey; */
  /* outline-offset: -1px; */
}
