body {
   /* TODO gradient background color spacey grey */
  background-color: darkgray;
}

#chartPayloadPerYear, #pieChartLaunchSuccess, #chartLaunchSites {
  display: none;
}

#sunburstChartOrbitManu {
  text-align: center;
}

.chart {
   /* TODO Add box shadow to chart cards */
  background-color: rgba(46, 49, 49, 0.65);
  margin-top: 18px;
  text-align: center;
}

/* axis tick lines */
.axis path,
.tick line {
  stroke: whitesmoke !important;
  /* color: whitesmoke !important; */
}

/* ticks */
.tick {
  color: whitesmoke;
  /* font-family: "Share Tech", sans-serif; */
}

/* Axis Labels */
.y-axis-label,
.x-axis-label {
  fill: whitesmoke !important;
  font-family: "Share Tech", sans-serif;
}

/* mission cards */
.card {
  margin: auto 6px;
  height: fit-content;
  padding: 2px;
}

#nextMissionCard {
  font-family: "Share Tech", sans-serif;
}

#addeventatc1 {
   text-align: center;
   display: block;
   margin: 10px auto;
   font-family: "Share Tech", sans-serif;
   color: whitesmoke !important;
   background-color: darkblue;
   /* width: 100px; */
   color: blue;
}

#addeventatc1 .addeventatc_icon {
  background-color:whitesmoke !important;
}

.card-title {
  padding: 4px;
  margin: 4px;
}
.card-body {
  padding: 0.6rem;
}

/* Chart Label Color */
.dc-chart g.row text {
  fill: black;
}

.dc-data-count {
  margin-right: 26px !important;
  /* display: inline-block; */
  /* margin-left: auto; */
}

.dc-legend-item text {
   /* color: whitesmoke !important; */
   /* background-color: yellow !important; */
   font-size: 12px;
   font-family: "Share Tech", sans-serif;
   /* stroke: white; */
   /* color: aquamarine !important; */
   fill: whitesmoke !important;
}

/* launches by site */
#chartLaunchesBySiteAndRocket .x.axis text {
   text-anchor: end !important;
   transform: rotate(-30deg);
   font-size: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.twitter-timeline {
  display: block !important;
  margin: 10px auto !important;
}

.mission-patch-large {
  width: 60%;
  height: auto;
}

.card-title {
  text-align: center;
}

.test-card {
  display: none;
}
/* launch success */

.success {
  display: block;
  border: 1px solid green;
  padding: 2px 10px;
  text-align: center;
  color: green;
}
.failure {
  display: block;
  border: 1px solid darkred;
  padding: 2px 10px;
  color: darkred;
  text-align: center;
}
#youtube-icon {
  height: 26px;
}

#map {
  height: 500px;
  width: 800px;
}
/* small patches */
.card-image-top {
  margin: 15px auto;
  height: auto;
  width: auto;
}

#nextLaunchCountdown table {
  margin: 20px auto;
  text-align: center;
  color: whitesmoke;
  font-size: 22px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

#counter td {
  font-size: 2.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  font-family: "Share Tech", sans-serif;
  color: whitesmoke;
}

h2 {
  font-family: "Share Tech", sans-serif;
  color: whitesmoke;
  text-align: center;
  margin: 6px auto;
  padding: 6px;
  display: block;
}

/* chart titles */
h3 {
  text-align: center;
  display: block;
  margin: 6px auto;
  padding-top: 6px;
  padding-bottom: 0px;
  font-family: "Share Tech", sans-serif;
  color: whitesmoke;
}
section {
  height: 80vh !important;
}
#map {
   width: 100%;
   height: 100%;
}
.navbar-brand {
  font-family: "Share Tech", sans-serif !important;
  font-size: 28px;
}

.navbar {
  background-color: black !important;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  color: whitesmoke;
  margin: auto;
  height: fit-content;
  text-align: center;
} 

#footer-list {
   list-style-type: none;
   padding: 20px 2px;
}
#footer-list li {
   padding: 0 16px;
   vertical-align: middle;
   /* float: left; */
   display: inline-block;
}

* {
  /* outline: 1px solid grey; */
  /* outline-offset: -1px; */
}
